<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>博客首页</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <section class="content">
    <ul class="blog-list">
      <% data.forEach(item => {%>
          <li class="blog-item">
              <div class="img-wrapper">
                <img src="<%=item.img%>" alt="">
              </div>
          </li>
     <% })%>
    </ul>
  </section>
</body>
</html>